body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 252, 252);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 25px;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(0, 0, 0);
}
form{
    background-color: rgb(254, 238, 244);
    padding: 45px;
    border-radius: 8px;
    box-shadow: #cc1872;
    max-width: 400px;
    margin: 0 auto;
}
label{
    margin-top: 0%;
}

input[type="text"],
input[type="email"],

textarea{
    width: calc(90% - 3%);
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing:border-box;
}